body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.receipt {
  height: 500px;
}

.receipts {
  display: flex;
}

.search {
  width: 500px;
  height: 100px;
  margin: 20px;
  text-align: center;
}

.search-box {
  width: 700px;
}

.sc-iwsKbI clePjd {
  width: 650px;
}

